body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  line-height: 1.4;
}

.note {
  margin-top: 20px;
  color: #444;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
